{{define "compare"}}

{{if gt .Value1 .Value2}}
Value 1 > Value 2
{{end}}
{{if lt .Value1 .Value2}}
Value 1 < Value 2
{{end}}
{{if eq .Value1 .Value2}}
Value 1 = Value 2
{{end}}
{{if lt .Value1 10}}
LAST ONE: SCORE 1 < 10
{{end}}

{{end}}