<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go School Student</title>
</head>
<body>
<ul>
    <li>{{.FirstName}} - {{.LastName}}</li>
</ul>
</body>
</html>